<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test</title>
</head>
<body>
  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.2/lib/system/single-spa.dev.js"
      }
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.10.3/dist/system.js"></script>
  <script>
    System.import('single-spa').then(singleSpa => {
      singleSpa.registerApplication({
        name: 'test',
        app: () => System.import('/main.js'),
        activeWhen: ['/']
      })

      singleSpa.start()
    })
  </script>
</body>
</html>